.banner {
  background-color: var(--color-secondary-600);
  border-radius: 24px;
  display: flex;
  gap: 32px;
}

.banner--primary {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 72px;
}

.banner--secondary {
  padding: 52px 56px;
  justify-content: space-between;
}

.banner__text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.banner__subheading {
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(from var(--color-light) r g b / 0.5);
}

.banner__subheading--align-center {
  text-align: center;
}

.banner .button:hover {
  background-color: rgb(from var(--color-light) r g b / 0.5);
}
