.hero {
  padding-bottom: 96px;
}

.hero__text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 204px;
  margin-bottom: 72px;
}

.hero__image {
  margin-bottom: 64px;
}

.hero__image img {
  width: 100%;
}

.hero__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 94px;
  max-width: 1006px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(from var(--color-primary-600) r g b / 0.2);
}
