.pricing {
  margin-bottom: 132px;
}

.pricing__subheading {
  text-align: center;
  margin-bottom: 8px;
}

.pricing__heading {
  text-align: center;
  margin-bottom: 176px;
}

.pricing__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 172px;
}

.pricing__item {
  flex-basis: 400px;
}

.pricing__item:nth-child(2) .card-price {
  transform: translateY(-81px);
}

.features__banner {
  max-width: 1060px;
  margin: 0 auto;
}

@media screen and (max-width: 887px) {
  .pricing__heading {
    margin-bottom: 96px;
  }

  .pricing__item:nth-child(2) .card-price {
    transform: none;
  }
}

@media screen and (max-width: 768px) {
  .pricing__heading {
    margin-bottom: 56px;
  }

  .pricing__item:nth-child(2) .card-price {
    transform: none;
  }

  .pricing {
    margin-bottom: 86px;
  }

  .pricing__list {
    margin-bottom: 86px;
  }
}
