.subheading {
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-primary-500);
  margin: 0;
}

@media screen and (max-width: 768px) {
  .subheading {
    font-size: 18px;
    line-height: 150%;
  }
}

@media screen and (max-width: 425px) {
  .subheading {
    font-size: 16px;
    line-height: 140%;
  }
}
