.text {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -0.02em;
  color: var(--color-primary-500);
  margin: 0;
}

@media screen and (max-width: 768px) {
  .text {
    font-size: 18px;
  }
}

@media screen and (max-width: 425px) {
  .text {
    font-size: 16px;
  }
}
