@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/Sora-Regular.woff2) format('woff2'),
    url(../assets/fonts/Sora-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../assets/fonts/Sora-Medium.woff2) format('woff2'),
    url(../assets/fonts/Sora-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../assets/fonts/Sora-SemiBold.woff2) format('woff2'),
    url(../assets/fonts/Sora-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../assets/fonts/Sora-Bold.woff2) format('woff2'),
    url(../assets/fonts/Sora-Bold.woff) format('woff');
}
