*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-family);
}

body {
  background-color: var(--color-primary-900);
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--color-primary-200);
  }
}

body.light {
  background-color: var(--color-primary-200);
}

.light,
.dark {
  transition: background-color 500ms ease;
}
